* {
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
img {
    max-width: 100%;
}

header {
    margin: 5%;
}
.nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    padding: auto;
}

.nav li {
    width: 50%;
    padding-bottom: 4%;
}

.nav__logo--img {
    width: 60%;
    padding-bottom: 3%;
}

.nav--bold {
    font-weight: bold;
}

.nav--blue {
    color: #0065FC
}
.nav--black {
    color: black;
}

.nav--right {
text-align: right;
}
.nav--left {
    text-align: left;
}

.nav--center {
    text-align: center;
}

h1 {
    font-size: 1.4em;
}

.fa-search {
    color: white;
}

.btn-searchbar {
    width: 13%;
    height: 100%;
    background-color: #0065FC;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.searchbar {
    width: 100%;
    height: 45px;
    border: solid #F2F2F2 1px ;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.inputsearch {
    font-size: 1em;
}

.markergps {
    width: 13%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche {
    padding-top: 7%;
}

.filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-filtre {
    display: flex;
    flex-direction: left;
    border: solid #F2F2F2 1px ;
    background-color: white;
    border-radius: 40px;
    height: 45px;
    font-size: 1em;
    padding: 0;
    margin: 5% 5% 0 0;
}

.btn-fa {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 40px;
    width: 45px;
    height: 45px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-filtre p {
    padding: 0 10% 0 10%;
    font-weight: bold;
    white-space: nowrap;
}

.bloc-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;


}

.fa-info {
    color: #0065FC;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: solid red 1px;
}

.info p {
    padding-left: 10%;
}

.bloc-loc {
    display: flex;
    flex-direction: column-reverse;

}

.title-famous {
display: flex;
justify-content: space-between;
align-items: center;
}

.bloc-populaire {
    background-color: #F2F2F2;
}


.bloc-famous {
    max-width: 100%;
    margin: 5%;
    display: flex;
    border-radius: 10px;
    border: solid white 5px;
    height: 120px;
    background-color: white;
    overflow: hidden;
}

.bloc-famous img {
    width: 120px;
    height: 120px;
}

.descriptif {
    padding-left: 5%;
    padding-right: 10%;
}

.descriptif h3 {
    font-size: 1em;
    margin-top: 0;
}

.descriptif p {
    font-size: 0.8em;
}

.star-blue {
    color:#0065FC;

}

.star-grey {
    color: #F2F2F2
}

h2 {
    font-size: 1.3em;
}

.hebergement {
    margin: 5%;
    border-radius: 10px;
    border: solid white 4px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    overflow: hidden;
}

.hebergement img {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.hebergement h3 {
    font-size: 1em;
}

.hebergement p { 
    font-size: 0.8em;
}

.bloc-activity {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.activity {
    margin: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    overflow: hidden;
}

.activity img {
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.activity h3 {
    font-size: 1em;
    padding-left: 5%;
}

footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    background-color: #F2F2F2;
}

footer p {
    font-size: 1em;
    font-weight: bold;
}

.footer {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

footer p,a {
    padding: 2% 0;
}