@media screen and (min-width: 500px) and (max-width: 768px) {
  nav ul li {
      font-size: 1.5em;
  }  

  h1 {
      font-size: 1.5em;
      text-align: center;
  }

  .sous-titre {
      font-size: 1.3em;
      text-align: center;
      margin: 0;
  }

  .searchbar {
      width: 70%;
      height: 60px;
      margin: auto;
  }

  .recherche {
      margin: 0;
  }

  .recherche h3 {
      text-align: center;
      margin-top: 30px;
      font-size: 1.5em;
  }

  .filtre {
      justify-content: center;
  }

  .bloc-famous img {
      width: 40%;
  }

  .hebergement, .bloc-famous, .activity {
      width: 70%;
      margin: 5% auto;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer {
      width: 30%;
      text-align: center;
  }

  .footer a {
      font-size: 0.7em;
  }

  .btn-searchbar-desktop {
      display: none;
  }
}